<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Buy Iphone</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>
<div id="app">
  <div class="container pt-5 ">

    <div class="row">
      <h1>Iphone</h1>
    </div>

    <div class="row pt-5">
      <div class="col-md-4">
        <div class="form-group">
          <label for="search"> <strong> Поиск</strong></label>
          <input type="text" class="form-control" id="search" placeholder="модель ..." v-model="search">
          <hr>

          <ul class="list-group">
            <li v-for="(phone, index) of searchPhones" 
            v-on:click="selectphone(index)"
            :class="{'active': selectedphoneIndex === index}"
            class="list-group-item list-group-item-action list-group-item-info pointer">{{ phone.name }} {{ phone.model }}</li>

          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <h4 class="mb-5">{{ phone.name }} {{ phone.model }} 
              <span>{{ size.phoneSize }}</span>
              gb 
              <span >{{ color.phoneColor }}</span>
            </h4>
            <a href="#" type="button" class="text-center" data-toggle="modal" data-target=".bd-example-modal-xl" title="купить айфон">
              <img :src="phone.image" :alt="phone.model" class="img-fluid phone-img">
            </a>
            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="text-center scaled-block m-5" >
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner text-center">
                            <div class="carousel-item active text-center " >
                              <img :src="phone.FirstSliderImage" class=" text-center" alt="купить айфон">
                            </div>
                            <div class="carousel-item text-center">
                              <img :src="phone.secondSliderImage" class=" text-center" alt="купить айфон">
                            </div>
                            <div class="carousel-item text-center">
                              <img :src="phone.thirdSliderImage" class=" text-center" alt="купить айфон">
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                              <i class="fas fa-chevron-circle-left"></i>

                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only ">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                              <i class="fas fa-chevron-circle-right"></i>
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only" >Next</span>
                          </a>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5 class="mb-3">Объем памяти</h5>
            <button class="btn btn-outline-info m-1" 
            v-for="(size, index) of sizes" 
            v-on:click="selectSizes(index)"
            :class="{'active': selectSizesIndex === index}"
            >{{ size.phoneSize }}</button>
            
            <p class="m-3 color-text">Цвет</p>
            <button type="button" class="btn m-3"
            v-for="(color, index) of colors" 
            v-on:click="selectColor(index)"
            :class="color.colorsClass"
            :class="{'active': selectColorsIndex === index} "
            >&nbsp;</button>
            <div class="m-3 price bg-primary text-white rounded text-center"> <strong> {{ phone.price }} грн </strong></div>
            <p class="joke bg-danger color-white p-3" v-if="creditVisibility ">Не позорься, собирай деньги!!!</p> <br>
            <button class="btn btn-success mr-3">КУПИТЬ</button>
            <button class="btn btn-secondary" @click="creditVisibility = !creditVisibility">КУПИТЬ В КРЕДИТ</button>
            <ul class="pt-3">
              <li class="mt-3">Дисплей Retina HD 5,5 дюйма </li>
              <li class="mt-3">Камера Двойная камера 12 Мп с режимом «Портрет» и возможностью записи видео 4K с
                частотой 30 кадров/с </li>
              <li class="mt-3">Передняя камера HD-камера FaceTime 7 Мп со вспышкой Retina Flash для отличных селфи </li>
              <li class="mt-3">Touch ID для безопасной аутентификации</li>
              <li class="mt-3">Процессор A10 Fusion</li>
              <li class="mt-3">Объем оперативной памяти 3 Гб
              </li>
              <li class="mt-3">Объем встроенной памяти {{ size.phoneSize }} Гб</li>
            </ul>
           
          </div>
        </div>

      </div>
    </div>

  </div>

</div>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    $('.carousel').carousel({
      ride: true,
})
    </script>
  <script src="app.js"></script>

</body>

</html>