.carousel-control-next-icon, .carousel-control-prev-icon{
  background-image: none
}

.fas{
  color: black;
  font-size: 40px;
}

.pointer{
  cursor: pointer;
}

.color-text{
  font-size: 25px;
}

.price{
  font-size: 26px;
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
}

.joke{
  display: inline-block;
}

.phone-img{
  max-height: 400px;
  text-align: center;
}